@font-face {
    font-family: canstop;
    src:url(../fonts/canstop.TTF);
}
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: josen;
    src: url(../fonts/JosefinSlab-Bold.ttf);
}
@font-face {
    font-family: josen;
    src: url(../fonts/JosefinSans-Light.ttf);
}
@font-face {
    font-family: gotham;
    src: url(../fonts/Gotham-Medium-Regular.ttf);
}
@font-face {
    font-family: indian;
    src: url(../fonts/WedSymbolys.TTF);
}
html, body{
    width: 100%;
    height: 100%;
    font-family: josen;
    font-weight: 700;
}
.ng-view {
  height: 100%;
  width: 100%;
}
.sponsor {
  overflow: auto !important;
}

#central-header {
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
#central-header h3 {
    margin-top: 0;
    color: #fff
}
#central-header h1 {
        font-size:  3em;
        color: #fff;
        margin-bottom: 0;
    }
@media (min-width: 992px) {
    #central-header h1 {
        font-size:  6.5em;
        height: 105px;
        color: #fff;
        margin-bottom: 0;
    }
}
nav .button {
    background: #252525;
    border:none;
}
.navbar-inverse { 
    background-image: none;
}

.button {
    min-width: 150px;
    max-width: 300px;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background: none;
    color: #fff;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    font-weight: 100;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 0;
}
.display-none {
    display: none;
}
.button:focus {
    outline: none;
}
.button:visited {
  color: #fff;
}
.button > span {
    vertical-align: middle;
}
/* Borders */
.button--border-thin {
    border: 1px solid;
}
.button--border-medium {
    border: 2px solid;
}
.button--border-thick {
    border: 3px solid;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
    color: #37474f;
    border-color: #37474f;
}
.bg-2 .button {
    color: #ECEFF1;
    border-color: #ECEFF1;
}
.bg-3 .button {
    color: #fff;
    border-color: #fff;
}

/* Sizes */
.button--size-s {
    font-size: 14px;
}
.button--size-m {
    font-size: 16px;
}
.button--size-l {
    font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
    letter-spacing: 2px;
    text-transform: uppercase;
}
.button--text-thin {
    font-weight: 300;
}
.button--text-medium {
    font-weight: 500;
}
.button--text-thick {
    font-weight: 600;
}
.button--round-s {
    border-radius: 5px;
}
.button--round-m {
    border-radius: 15px;
}
.button--round-l {
    border-radius: 40px;
}
nav .button--wayra {
    width: 100px;
    word-wrap: break-word;
    -webkit-transition: border-color 0.3s, color 0.3s !important; 
    transition: border-color 0.3s, color 0.3s !important;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1) !important;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1) !important;
}
.button--wayra {
    overflow: hidden;
    -webkit-transition: border-color 0.3s, color 0.3s !important; 
    transition: border-color 0.3s, color 0.3s !important;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1) !important;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1) !important;
}
@media (min-width: 992px) {
    nav .button--wayra {
        overflow: hidden;
        width: 245px;
        -webkit-transition: border-color 0.3s, color 0.3s !important; 
        transition: border-color 0.3s, color 0.3s !important;
        -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1) !important;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1) !important;
    }
}

.button--wayra::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #37474f;
    color: #fff;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
nav .button--wayra:hover {
    color: #000;
    font-weight: 700;
    border-color: #ccc;
}
.button--wayra:hover {
    color: #252525;
    font-weight: 700;
    border-color: #ccc;
}

.button--wayra:hover::before {
    opacity: 1;
    background-color: #ccc;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra.button--inverted:hover::before {
    background-color: #fff;
}


.navbar-brand-centered {
    position: absolute;
    left: 48%;
    display: block;
    width: 15%;
    padding: 10px;
    text-align: center;
}
@media (min-width: 992px) {
.navbar-brand-centered {
    position: absolute;
    left: 48%;
    display: block;
    width: 4%;
    padding: 12px;
    text-align: center;
} }

.navbar-inverse {
    border:none;
    background-color: #252525;
}
/* ==========================================================================
    SYMBOLS
============================================================================= */
.symbol {
  position:relative;
}
.symbol span {
  display: inline-block;
  position: absolute;
    top: 0;
  left:47%;
  margin-top:-1.5em;
  margin-left:-1.5em;
    font-size: 3em;
    background: #fff;
    padding: 0 1em;
    color: #e1e1e1;
    font-weight: 100;
}
.symbol i {
  display: inline-block;
  position: absolute;
    top: 0;
  left: 50%;
  margin-top:-0.5em;
  margin-left:-1.5em;
    font-size: 3em;
    background: #252525;
    padding: 0 1em;
    color: #e1e1e1;
    font-weight: 100;
}
.symbol span.pe-7s-icon {
  font-size: 2em;
  font-weight:normal;
  font-weight: 100;
}
.symbol span.symbol-text {
  margin-top:-0.75em;
  margin-left: -1.53em;
}
.symbol.symbol-left span {
  padding: 0 1em 0 0;
  left:0;
  margin-left:0;
}
.symbol.symbol-left hr {
  margin-left:0;
}
.symbol.symbol-right span {
  padding: 0 0 0 1em;
  left:inherit;
  right:0;
  margin-left:0;
}
.symbol.symbol-right hr {
  margin-right:0;
}
.symbol.symbol-left.symbol-center.small span {
  left: 37.5%;
}
.symbol.symbol-left.symbol-center hr {
  margin-left:auto;
}
.symbol.symbol-right.symbol-center.small span {
  left: inheirt;
  right:37.5%;
}
.symbol.symbol-right.symbol-center hr {
  margin-right:auto;
}
.symbol hr {
  border-top: 1px solid #e1e1e1;
}
.symbol-theme hr {
  border-color: #333;
}
.symbol.symbol-theme span {
    background: #252525;
  color: #444;
}
.symbol.symbol-theme span.pe-7s-icon {
  font-weight:normal;
}
hr.small {
  margin-top: 125px;
  width: 85%;
}
.shrink {
    background-color: #fff !important;
}
.navbar-inverse .navbar-nav>.active>a {
    color: #ccc;
}

/* ==========================================================================
    Header
============================================================================= */
.page-headline {
    display: block;
    margin: 10px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;
}
.page-headline h2, .page-headline h3, .page-headline h1 {
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    font-size: 3em;
    padding-top: 1em;
    display: inline-block;
    border-bottom: 2px solid #252525;
}

.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
}
/* ==========================================================================
    ABOUT
============================================================================= */
#about-container {
    background-color: #fff;
    padding: 0;
}
#about-container .about-row{
    padding:0;
    text-align: center;
}
#about-container .about-row .about-rect {
    height:250px;
    text-align:center;
    color:#fff !important;
    padding:0 0 15px 0;
    overflow: hidden;
    font-weight: 500;
}
#about-container .about-row .about-square {
    height:250px;
    overflow:hidden;
    color: #fff !important;
    padding:0 0 15px 0;
    font-weight: 500;
}
@media (min-width: 992px) {
    #about-container .about-row{
        padding:0 0 15px 0;
    }
    #about-container .about-row .about-rect {
        padding:0 15px 0 0;
    }
    #about-container .about-row .about-square {
        padding:0 15px 0 0;
    }
}
/* ==========================================================================
   Counters
============================================================================= */
.nc-simple {
    color: #000;
    padding-bottom: 4em;
    padding-top: 4em;
}
.nc-simple.text-light,
.text-light .nc-simple {
    color: #fff;
}
.nc-simple span.counter-icon {
    font-size: 50px;
    margin-bottom:30px;
}
.nc-simple span.counter, .nc-simple span.counter-extend {
    font-size: 30px;
    font-weight: bold;
}
.nc-simple h3 {
    margin: 5px 0 0;
    text-transform: uppercase;
}
span.nc-text {
    font-size: 16px;
    font-weight: bold;
}
.nc-lined {
    padding: 0;
}
.nc-style-4 span, 
.nc-lined span {
    font-size: 50px;
    font-weight: bold;
}
.nc-lined span.counter-icon {
    font-weight: normal;
    border-bottom: 3px solid #000;
    min-width: 30%;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.nc-lined.text-light span.counter-icon,
.text-light .nc-lined span.counter-icon,
.nc-lined .text-light span.counter-icon {
    border-color: #fff;
}
.nc-lined h1,
.nc-lined h2,
.nc-lined h3,
.nc-lined h4,
.nc-lined h5,
.nc-lined h6 {
    margin: 0;
}
.nc-style-4 h5, .nc-lined h5 {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.counter-border {
    border-right: 1px solid #e6e6e6;
}
/* ==========================================================================
    About us Social Icons
============================================================================= */
.follow-us {
text-align:center;
font-size: 3em;
}

#footer h3 { 
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    line-height: 36px;
}
#footer p {
    color: #fff;
    width: 60%;
    margin: 0 auto 40px;
    margin-top: 30px;
    font-size: 20px;
    line-height: 24px;
}

#footer { 
background-color: #fff; 
padding: 60px 0 60px; 
text-align:center; 
}

.social-icon {
    text-align: center;
    font-size: 48px;
    line-height: 76px;
    color: #fff;
    padding: 5px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.social-icon :hover {
    color: #0dc0c0;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

/* ==========================================================================
    CONTACTS
============================================================================= */

#contact-container {
    min-height: 750px;
}
@media (min-width: 992px) { 
    #contact-container {
        min-height: 600px;
        height:100%;
    }
    
}
#contact-container .page-header {
    border: none;
    margin: 20px 0 0px;
}
#contact-container .symbol.symbol-theme i { 
    font-size: 1.4em;
    color: #000;
}
#contact-container .team-container .symbol.symbol-theme i {
    background-color: #f6f6f6;
}
#contact-container .team-container h4 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}
#contact-container .team-container p {
    font-size: 1.2em;
}
#contact-container .team-container .contact {
    margin-bottom: 15px;
}
#contact-container .mail-container .symbol.symbol-theme i {
    background-color: #fff;
}
#contact-container hr.small {
    margin-top: 0;
    width: 100%;
    margin-bottom: 40px;
}
#contact-container .form-control {
    background-color: #656565;
    border-radius: 0;
    color: #f6f6f6;
    border: 0;
}
#contact-container .form-control:hover {
    box-shadow: none;
}
.ui-effects-wrapper input{
    height:100% !important;
}
.ui-effects-wrapper textarea{
    height:100% !important;
}
#contact-container .form-control:focus {
  box-shadow: none;
}


#contact-container .btn {
    border: none;
    border-radius: 0;
    background: #252525;
    padding: 0.75em;
    width: 100%;
    margin-top: 10px;
}
/* ==========================================================================
    GALLERY
============================================================================= */
#gallery-container .image-item {
  padding: 0 5px 0 5px; 

}
#gallery-container .image-item a {
  text-decoration: none;
  color: #000;
}
#gallery-container .image-image {
    width: 100%;
}
#gallery-container .image-caption {
    margin-bottom: 50px;

}
#gallery-container .image-data {
    padding: 20px;
    background-color: #d3d3d3;
    margin-bottom: 10px;
    font-family: gotham;
}
#gallery-container .instagram .page-header {
    font-size: 2em;
    border:none;
}
#gallery-container .instagram .page-header a {
    text-decoration: none;
    color: #9b6954;
}

/* ==========================================================================
    SPONSORS
============================================================================= */
#sponsor-container {
    background-color: #fff;
}
#sponsor-container .sponsor-item {
    margin:0 10px 20px 10px;
    overflow: hidden;
    height:200px;
}
#sponsor-container .sponsor-image {
    width: 200px;
    height: 200px;
    background-color: #fff
}
#sponsor-container img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
}
#sponsor-container .sponsor-content {
    position: absolute;height: 200px;width: 200px;top: 0;left:0;z-index:0;background: #edeff0;  
    padding: 100px 8px 8px;
    text-align: center;
    font-size: 1.5em;
}

#bars {
  height: 40px;
  position: absolute;
}
.bar-t {
  background: #fff;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 5px;
}
.is-on .bar-t {
  animation: sound 0ms -800ms linear infinite alternate;
  -webkit-animation: sound 0ms -800ms linear infinite alternate;
  -moz-animation: sound 0ms -800ms linear infinite alternate;
  -ms-animation: sound 0ms -800ms linear infinite alternate;
}
@keyframes sound {
  0% {
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 20px;
  }
}
.bar-t:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}
.bar-t:nth-child(2) {
  left: 7px;
  animation-duration: 433ms;
}
.bar-t:nth-child(3) {
  left: 13px;
  animation-duration: 407ms;
}
.audio-wrap {
  position: absolute;
  bottom: 50px;
  left: 70px;
  width: 50px;
  height: 100px;
  z-index: 9998;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s
}