@font-face {
    font-family: canstop;
    src:url(../fonts/canstop.TTF);
}
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: gotham;
    src: url(../fonts/Gotham-Medium-Regular.ttf);
}
@font-face {
    font-family: indian;
    src: url(../fonts/WedSymbolys.TTF);
}
html, body{
    width: 100%;
    height: 100%;
    font-family: gotham;
    font-weight: 700;
}
.ng-view {
  height: 100%;
  width: 100%;
}
.sponsor {
  overflow: auto !important;
}
.perspective {
    background: #ccc;
    position: relative;
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.page-container {
    background: #ccc;
    min-height: 100%;
    position: relative;
    outline: 1px solid rgba(0,0,0,0);
    z-index: 10;
    -webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */
    transform: translateZ(0) translateX(0) rotateY(0deg);
}

.page-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    opacity: 0;
    background: rgba(0,0,0,0.2);
    /* the transition delay of the height needs to be synced with the container transition time */
    -webkit-transition: opacity 0.4s, height 0s 0.4s;
    transition: opacity 0.4s, height 0s 0.4s;
}

.wrapper {
    position: relative;
}

.component {
    margin: 0 auto;
    width: 60%;
    text-align: justify;
    font-size: 1.5em;
}

/* Modal view */
.perspective.modalview {
    position: fixed;
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.modalview .page-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.modalview .wrapper {
    -webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
}

.animate .page-container::after {
    opacity: 1;
    height: 101%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

/* Outer Nav */
.outer-nav {
    position: absolute;
    height: auto;
    font-size: 2em;
}

.outer-nav.vertical {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.outer-nav.horizontal {
    left: 50%;
    width: 75%;
    max-width: 1000px;
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.outer-nav.left {
    left: 25%;
}

.outer-nav.right {
    right: 25%;
}

.outer-nav.top {
    top: 25%;
}

.outer-nav.bottom {
    bottom: 25%;
}

.outer-nav a {
    display: inline-block;
    white-space: nowrap;
    font-weight: 300;
    margin: 0 0 30px 0;
    color: #fff;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.outer-nav a:hover {
    color: #ffdccd;
}

.outer-nav.vertical a {
    display: block;
}

.outer-nav.horizontal a {
    margin: 15px 20px;
}

.outer-nav a::before {
    display: inline-block;
    font-family: 'typicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-right: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.icon-news::before { content: "\e600" }
.icon-home::before { content: "\e601" }
.icon-image::before { content: "\e602" }
.icon-upload::before { content: "\e603" }
.icon-star::before { content: "\e604" }
.icon-mail::before { content: "\e605" }
.icon-lock::before { content: "\e606" }
.icon-chart-pie::before { content: "\e607" }

/* Individual Effects */

/* Effect airbnb */
.effect-airbnb {
    
}
.effect-airbnb::after {
  content: "";
  background-image: url(../images/background.jpg);
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.effect-airbnb .page-container {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.effect-airbnb.animate .page-container {
    -webkit-transform: translateZ(-1200px) translateX(70%) rotateY(-50deg);
    transform: translateZ(-1200px) translateX(70%) rotateY(-50deg);
}
.effect-airbnb.animate video {
    transform: translateX(-100px) translateY(0);
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
}

.no-csstransforms3d .effect-airbnb.animate .page-container {
    left: 75%;
}

.effect-airbnb .outer-nav a {
    opacity: 0;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

.effect-airbnb.animate .outer-nav a {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.effect-airbnb.animate .outer-nav a:nth-child(2) {
    -webkit-transition-delay: 0.04s;
    transition-delay: 0.04s;
}

.effect-airbnb.animate .outer-nav a:nth-child(3) {
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s;
}

.effect-airbnb.animate .outer-nav a:nth-child(4) {
    -webkit-transition-delay: 0.12s;
    transition-delay: 0.12s;
}

.effect-airbnb.animate .outer-nav a:nth-child(5) {
    -webkit-transition-delay: 0.16s;
    transition-delay: 0.16s;
}

.effect-airbnb.animate .outer-nav a:nth-child(6) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.effect-airbnb.animate .outer-nav a:nth-child(7) {
    -webkit-transition-delay: 0.24s;
    transition-delay: 0.24s;
}

@media screen and (max-width: 31em), screen and (max-height: 36.2em) {
    .outer-nav.horizontal,
    .outer-nav.vertical {
        font-size: 1.2em;
        width: 6.8em;
    }

    .outer-nav.right {
        right: auto;
        left: 50%;
    }
}

@media screen and (max-height: 31.6em) {
    .outer-nav a {
        margin-bottom: 20px;
    }
}
.menu-wrap {
  position: absolute;
  top: 50px;
  right: 50px;
  width: auto;
  height: 100px;
  z-index: 9998;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s
}
.icon-wrap {
  position: absolute;
  top: 50px;
  left: 50px;
  width: auto;
  height: 100px;
  z-index: 9998;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s
}
.icon-wrap h1 {
    margin: 0;
    font-family: canstop;
}
.menu-wrap h1 {
  font-family: 'ms100', sans-serif !important;
  font-size: 1em;
  color: #fff;
  float: right
}
.menu-icon {
  position: relative;
  display: block;
  width: 2.3em;
  height: 3em;
  cursor: pointer;
  margin: 0px 20px;
  float: right;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transition: all 0.3s
}
.menu-icon>span {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 3px;
  margin-top: -0.5em;
  background-color: #fff;
  border-radius: 0px
}
.menu-icon>span:before, .menu-icon>span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 0px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -moz-transition: all 0.1s
}
.menu-icon>span:before {
  -webkit-transform: translateY(-0.6em);
  -ms-transform: translateY(-0.6em);
  transform: translateY(-0.6em)
}
.menu-icon>span:after {
  -webkit-transform: translateY(.6em);
  -ms-transform: translateY(.6em);
  transform: translateY(.6em)
}
.menu-icon.open-menu {
  animation: off 1s 1;
  -webkit-animation: off 1s 1;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
.effect-airbnb video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
  background-image: url(../video/background.jpg);
}
.stopfade { 
   opacity: .5;
}
#central-header {
    position: fixed;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
#central-header h3 {
    margin-top: 0;
    color: #fff
}
#central-header h1 {
        font-size:  3em;
        color: #fff;
        margin-bottom: 0;
    }
@media (min-width: 992px) {
    #central-header h1 {
        font-size:  7em;
        color: #fff;
        margin-bottom: 0;
    }
}
nav .button {
    background: #252525;
    border:none;
}

.button {
    min-width: 150px;
    max-width: 300px;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background: none;
    color: #fff;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    font-weight: 100;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 0;
}
.button:focus {
    outline: none;
}
.button:visited {
  color: #fff;
}
.button > span {
    vertical-align: middle;
}
/* Borders */
.button--border-thin {
    border: 1px solid;
}
.button--border-medium {
    border: 2px solid;
}
.button--border-thick {
    border: 3px solid;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
    color: #37474f;
    border-color: #37474f;
}
.bg-2 .button {
    color: #ECEFF1;
    border-color: #ECEFF1;
}
.bg-3 .button {
    color: #fff;
    border-color: #fff;
}

/* Sizes */
.button--size-s {
    font-size: 14px;
}
.button--size-m {
    font-size: 16px;
}
.button--size-l {
    font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
    letter-spacing: 2px;
    text-transform: uppercase;
}
.button--text-thin {
    font-weight: 300;
}
.button--text-medium {
    font-weight: 500;
}
.button--text-thick {
    font-weight: 600;
}
.button--round-s {
    border-radius: 5px;
}
.button--round-m {
    border-radius: 15px;
}
.button--round-l {
    border-radius: 40px;
}
nav .button--wayra {
    width: 100px;
    word-wrap: break-word;
    -webkit-transition: border-color 0.3s, color 0.3s !important; 
    transition: border-color 0.3s, color 0.3s !important;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1) !important;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1) !important;
}
.button--wayra {
    overflow: hidden;
    -webkit-transition: border-color 0.3s, color 0.3s !important; 
    transition: border-color 0.3s, color 0.3s !important;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1) !important;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1) !important;
}
@media (min-width: 992px) {
    nav .button--wayra {
        overflow: hidden;
        width: 245px;
        -webkit-transition: border-color 0.3s, color 0.3s !important; 
        transition: border-color 0.3s, color 0.3s !important;
        -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1) !important;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1) !important;
    }
}

.button--wayra::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #37474f;
    color: #fff;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
nav .button--wayra:hover {
    color: #000;
    font-weight: 700;
    border-color: #ccc;
}
.button--wayra:hover {
    color: #252525;
    font-weight: 700;
    border-color: #ccc;
}

.button--wayra:hover::before {
    opacity: 1;
    background-color: #ccc;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra.button--inverted:hover::before {
    background-color: #fff;
}

.navbar-brand-centered {
    position: absolute;
    left: 48%;
    display: block;
    width: 4%;
    padding: 10px;
    text-align: center;
}
.navbar-inverse {
    border:none;
    background-color: #252525;
}
/* ==========================================================================
    SYMBOLS
============================================================================= */
.symbol {
  position:relative;
}
.symbol span {
  display: inline-block;
  position: absolute;
    top: 0;
  left:50%;
  margin-top:-0.5em;
  margin-left:-1.5em;
    font-size: 3em;
    background: #fff;
    padding: 0 1em;
    color: #e1e1e1;
    font-weight: 100;
}
.symbol i {
  display: inline-block;
  position: absolute;
    top: 0;
  left:50%;
  margin-top:-0.5em;
  margin-left:-1.5em;
    font-size: 3em;
    background: #fff;
    padding: 0 1em;
    color: #e1e1e1;
    font-weight: 100;
}
.symbol span.pe-7s-icon {
  font-size: 2em;
  font-weight:normal;
  font-weight: 100;
}
.symbol span.symbol-text {
  margin-top:-0.75em;
  margin-left: -1.53em;
}
.symbol.symbol-left span {
  padding: 0 1em 0 0;
  left:0;
  margin-left:0;
}
.symbol.symbol-left hr {
  margin-left:0;
}
.symbol.symbol-right span {
  padding: 0 0 0 1em;
  left:inherit;
  right:0;
  margin-left:0;
}
.symbol.symbol-right hr {
  margin-right:0;
}
.symbol.symbol-left.symbol-center.small span {
  left: 37.5%;
}
.symbol.symbol-left.symbol-center hr {
  margin-left:auto;
}
.symbol.symbol-right.symbol-center.small span {
  left: inheirt;
  right:37.5%;
}
.symbol.symbol-right.symbol-center hr {
  margin-right:auto;
}
.symbol hr {
  border-top: 1px solid #e1e1e1;
}
.symbol-theme hr {
  border-color: #333;
}
.symbol.symbol-theme span {
    background: #252525;
  color: #444;
}
.symbol.symbol-theme span.pe-7s-icon {
  font-weight:normal;
}
hr.small {
  margin-top: 125px;
  width: 75%;
}
/* ==========================================================================
    ABOUT
============================================================================= */
#about-container {
    height:90%
}
/* ==========================================================================
    CONTACTS
============================================================================= */

#contact-container {
    height:90%
}
#contact-container .page-header {
    border: none;
    margin: 20px 0 0px;
}
#contact-container .symbol.symbol-theme i { 
    font-size: 1.4em;
    color: #000;
}
#contact-container .team-container .symbol.symbol-theme i {
    background-color: #f6f6f6;
}
#contact-container .mail-container .symbol.symbol-theme i {
    background-color: #fff;
}
#contact-container hr.small {
    margin-top: 0;
    width: 100%;
    margin-bottom: 40px;
}
#contact-container .form-control {
    background-color: #f6f6f6;
}
#contact-container .btn {
    border: none;
    border-radius: 0;
    background: #252525;
    padding: 0.75em;
    width: 100%;
    margin-top: 10px;
}
/* ==========================================================================
    GALLERY
============================================================================= */
#gallery-container .image-item {
    
}
#gallery-container .image-image {
    width: 100%;
}
#gallery-container .image-caption {
    margin-bottom: 50px;
}
#gallery-container .image-data {
    padding: 20px;
    background-color: #d3d3d3;
    margin-bottom: 20px;
}
#gallery-container .instagram .page-header {
    font-size: 2em;
    border:none;
}
#gallery-container .instagram .page-header a {
    text-decoration: none;
    color: #9b6954;
}

/* ==========================================================================
    SPONSORS
============================================================================= */
#sponsor-container {
    background-color: #fff;
}
#sponsor-container .sponsor-item {
    margin-bottom: 20px;
}