<div class="col-md-12 col-sm-12 col-xs-12"style="margin:0 0 250px 0;padding:0">
    <div class="col-md-12 col-sm-12 col-xs-12" style="height:250px;background-color:#252525;position:fixed;top:0;z-index:-1;margin:0">
        <div class="symbol symbol-theme">
            <span style="width:16%"><img src="images/ragam1.png" class="img-responsive"></span>
            <hr class="light small mar-top-50 no-margin-bottom">
        </div>
    </div>
</div>
<div id="about-container" class="col-md-12 col-sm-12 col-xs-12 one-edge-shadow">
        <div class="container">
            <div class="page-headline"><h2>Our Story. Our Ragam</h2></div>
            <div class="col-md-12 about-row">
                <div class="col-md-6 col-sm-12 col-xs-12 about-rect">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="background:#e67e22;height:100%">
                        <h3>In a land where legacies are legends passed down through colourful tongues to eager ears as tales and ballads seared with the arching colours of the oil-wick, there took birth a tale that has evolved over each retelling to become a clarion call. </h3> 
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 about-square">
                    <img src="images/about/25.jpg" class="img-responsive" style="width:100%;height:100%">
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 about-square">
                    <img src="images/about/23.jpg" class="img-responsive" style="width:100%;height:100%">
                </div>
            </div>
            <div class="col-md-12 about-row">
                <div class="col-md-3 col-sm-12 col-xs-12 about-square">
                    <img src="images/about/06.jpg" class="img-responsive" style="width:100%">
                </div>
                <div class="col-md-3 about-square">
                    <img src="images/about/24.jpg" class="img-responsive" style="width:100%;height:100%">
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 about-square">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="background:#c0392b;color:#fff;height:100%">
                        <h3>A beckoning that rebounds over the lands to the brightest of souls. A legacy that has grown with each reincarnation to become the battlecry of ebullience</h3>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 about-square">
                    <img src="images/about/07.jpg" class="img-responsive" style="width:100%">
                </div>
            </div>
            
            <div class="col-md-12 about-row">
                <div class="col-md-3 about-square">
                    <img src="images/about/28.jpg" class="img-responsive" style="width:100%;height:100%">
                </div>
                <div class="col-md-3 about-square">
                    <img src="images/about/14.jpg" class="img-responsive" style="width:100%;height:100%">
                </div>
                <div class="col-md-6 about-rect">
                    <div class="col-md-12" style="background:#27ae60;height:100%;">
                        <h3>
                            Ragam. More than 30 years after its inception, the name "Ragam" still ignites the same fire in the hearts of those who know it. An extravaganza of Music, Dance and Arts, Ragam remains and always has been a culture that you can never get enough of.
                        </h3> 
                    </div>
                </div>
                
                
            </div>
            <div class="col-md-12 about-row">
                <div class="col-md-6 about-rect">
                    <div class="col-md-12" style="background:#656565;height:100%;">
                        <h3>And this year, we go back to the roots of our culture. The colourful tapestry of Indian culture has been weaved over centuries of traditions. Each thread tells a different tale. Our nation is unparalleled in diversity. From Bhangra beats to soulful Sufi songs, Indian music spans a wide spectrum. From Garba to Bharatanatayam, our dance scene is no less.</h3>
                    </div>
                </div>
                <div class="col-md-3 about-square">
                    <img src="images/about/17.jpg" class="img-responsive" style="width:100%">
                </div>
                
                <div class="col-md-3 about-square">
                    <img src="images/about/27.jpg" class="img-responsive" style="width:100%">
                </div>
            </div>
            <div class="col-md-12 about-row">
                <div class="col-md-3 about-square">
                    <img src="images/about/20.jpg" class="img-responsive" style="width:100%">
                </div>
                <div class="col-md-6 about-rect">
                    <div class="col-md-12 about-rect" style="background:#3498db;color:#fff">
                        <h3> Ragam-16 will be a melting pot with a vibrant spread of cinema, music, dance and art to celebrate our cultural diversity. The countdown has begun for the ultimate celebration with some Desi tadka. We'll see you there.</h3>
                    </div>
                </div>
                <div class="col-md-3 about-square">
                    <img src="images/about/29.jpg" class="img-responsive" style="width:100%">
                </div>
            </div>

</div>

<div class="col-md-12 col-sm-12 col-xs-12" style="height:300px;background-image:url(images/about/15.jpg);background-size:100%;background-attachment:fixed">
    
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="background:#fff">
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-md-3 col-sm-6 text-center counter-border">
                <div class="nc-simple">
                    <span class="counter-icon"><i class="fa fa-calendar"></i></span><br>
                    <span class="counter">4</span>
                    <h4 class="text-uppercase">Days</h4>
                </div>
            </div> 
                        
            <div class="col-md-3 col-sm-6 text-center counter-border">
                <div class="nc-simple">
                    <span class="counter-icon"><i class="fa fa-graduation-cap"></i></span><br>
                    <span class="counter">1200+</span>
                    <h4 class="text-uppercase letter-spacing-2">Colleges</h4>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 text-center counter-border">
                <div class="nc-simple">
                    <span class="counter-icon"><i class="fa fa-users"></i></span><br>
                    <span class="counter">45,000+</span>
                    <h4 class="text-uppercase letter-spacing-2">Footfall</h4>
                </div>
            </div>
              
            <div class="col-md-3 col-sm-6 text-center  mar-top-50-tablet">
                <div class="nc-simple ">
                    <span class="counter-icon"><i class="fa fa-inr"></i></span><br>
                    <span class="counter">Rs 1,400,000</span>
                    <h4 class="text-uppercase letter-spacing-2">Worth in Prizes</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer" class="col-md-12 col-sm-12 col-xs-12" style="background-image:url(images/dark_wood.png);background-attachment:fixed">
    <h3>Follow Us!</h3>
    <div class="follow-us">
        <a href="http://www.facebook.com/Ragam.nitc" target="_blank" class="social-icon"><i class="fa fa-facebook-official"></i></a>
        <a href="http://twitter.com/ragamnitc" target="_blank" class="social-icon"><i class="fa fa-twitter-square"></i></a>
        <a href="http://www.instagram.com/ragam_nitc/" target="_blank" class="social-icon"><i class="fa fa-instagram"></i></a>
        <a href="http://www.youtube.com/user/RagamCulfest" target="_blank" class="social-icon"><i class="fa fa-youtube-play"></i></a>

    </div>
</div>