<div class="col-md-12 col-sm-12 col-xs-12"style="margin:0 0 250px 0;padding:0">
    <div class="col-md-12 col-sm-12 col-xs-12" style="height:250px;background-color:#252525;position:fixed;top:0;z-index:-1;margin:0">
        <div class="symbol symbol-theme">
            <span style="width:10%"><img src="images/ragam1.png" class="img-responsive" ></span>
            <hr class="light small mar-top-50 no-margin-bottom">
        </div>
    </div>
</div>
<div id="about-container" class="col-md-12 col-sm-12 col-xs-12 one-edge-shadow" style="padding:0">
        <div class="container">
            <div class="page-headline"><h2>Our Story. Our Ragam</h2></div>

            <div class="col-md-12" style="padding:0 0 15px 0">
                <div class="col-md-6" style="height:250px;overflow:hidden;padding:0">
                    <img src="images/about/02.jpg" class="img-responsive" style="width:100%">
                </div>
                <div class="col-md-3" style="height:250px;text-align:center">
                    <div class="col-md-12" style="background:#656565;height:100%">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
                    </div>
                </div>
                <div class="col-md-3" style="height:250px;overflow:hidden;padding:0">
                    <img src="images/about/01.jpg" class="img-responsive" style="width:100%">
                </div>
            </div>
            <div class="col-md-12" style="padding:0 0 15px 0">
                <div class="col-md-6" style="height:250px;background:#252525;text-align:center;color:#f6f6f6"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.</h3> </div>
                <div class="col-md-3" style="height:250px;overflow:hidden">
                    <img src="images/about/06.jpg" class="img-responsive" style="width:100%;height:100%">
                </div>
                <div class="col-md-3" style="height:250px;overflow:hidden;padding:0">
                    <img src="images/about/03.jpg" class="img-responsive" style="width:100%;height:100%">
                </div>
            </div>
            <div class="col-md-12" style="padding:0 0 15px 0">
                <div class="col-md-3" style="height:250px;overflow:hidden;padding:0">
                    <img src="images/about/07.jpg" class="img-responsive" style="width:100%;height:100%">
                </div>
                <div class="col-md-3" style="height:250px;overflow:hidden">
                    <img src="images/about/14.jpg" class="img-responsive" style="width:100%;height:100%">
                </div>
                <div class="col-md-6" style="height:250px;background:#f6f6f6;text-align:center;color:#656565;padding:0">
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur.
                    </h3> 
                </div>
                
                
            </div>
            <div class="col-md-12" style="padding:0 0 15px 0">
                <div class="col-md-3" style="height:250px;overflow:hidden;padding:0">
                    <img src="images/about/01.jpg" class="img-responsive" style="width:100%">
                </div>
                <div class="col-md-3" style="height:250px;text-align:center">
                    <div class="col-md-12" style="background:#656565;height:100%">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
                    </div>
                </div>
                <div class="col-md-3" style="height:250px;overflow:hidden;    padding: 0 15px 0 0;">
                    <img src="images/about/04.jpg" class="img-responsive" style="width:100%">
                </div>
                <div class="col-md-3" style="height:250px;overflow:hidden;padding:0">
                    <img src="images/about/05.jpg" class="img-responsive" style="width:100%">
                </div>
            </div>

</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="height:250px;background-color:#252525">
    
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="height:300px;background-image:url(images/about/15.jpg);background-size:100%;background-attachment:fixed">
    
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="background:#fff">
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-md-3 col-sm-6 text-center counter-border">
                <div class="nc-simple">
                    <span class="counter-icon"><i class="fa fa-users"></i></span><br>
                    <span class="counter">4</span>
                    <h4 class="text-uppercase">Days</h4>
                </div>
            </div> 
                        
            <div class="col-md-3 col-sm-6 text-center counter-border">
                <div class="nc-simple">
                    <span class="counter-icon"><i class="fa fa-users"></i></span><br>
                    <span class="counter">1200+</span><span class="counter-extend">+</span>
                    <h4 class="text-uppercase letter-spacing-2">Colleges</h4>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 text-center counter-border">
                <div class="nc-simple">
                    <span class="counter-icon"><i class="fa fa-users"></i></span><br>
                    <span class="counter">45,000+</span>
                    <h4 class="text-uppercase letter-spacing-2">Footfall</h4>
                </div>
            </div>
              
            <div class="col-md-3 col-sm-6 text-center  mar-top-50-tablet">
                <div class="nc-simple ">
                    <span class="counter-icon"><i class="fa fa-users"></i></span><br>
                    <span class="counter">1,400,000 Rs</span>
                    <h4 class="text-uppercase letter-spacing-2">Worth in Prizes</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer" class="col-md-12 col-sm-12 col-xs-12" style="background-image:url(images/dark_wood.png);background-attachment:fixed">
    <h3>Follow Us!</h3>
    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse suscipit tellus vitae tellus porta rutrum. Aliquam imperdiet nulla id scelerisque auctor.</p>
    <div class="follow-us">
                        <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon"><i class="fa fa-instagram"></i></a>
        </div>
    </div>