<div class="col-md-12 col-sm-12 col-xs-12"style="margin:0 0 250px 0;padding:0">
    <div class="col-md-12 col-sm-12 col-xs-12" style="height:250px;background-color:#252525;position:fixed;top:0;z-index:-1;margin:0">
        <div class="symbol symbol-theme">
            <span style="font-family:indian;font-size:6em">H</span>
            <hr class="light small mar-top-50 no-margin-bottom">
        </div>
    </div>
</div>
<div id="about-container" class="col-md-12 col-sm-12 col-xs-12" style="padding:0">

            <div class="page-header text-center"><h1>Our Story. Our Ragam</a></h1></div>
            <div class="col-md-12" style="padding:0 0 15px 0">
                <div class="col-md-6" style="height:250px;overflow:hidden;padding:0">
                    <img src="images/about/02.jpg" class="img-responsive" style="width:100%">
                </div>
                <div class="col-md-3" style="height:250px;text-align:center">
                    <div class="col-md-12" style="background:#656565;height:100%">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
                    </div>
                </div>
                <div class="col-md-3" style="height:250px;overflow:hidden;padding:0">
                    <img src="images/about/01.jpg" class="img-responsive" style="width:100%">
                </div>
            </div>
            <div class="col-md-12" style="padding:0 0 15px 0">
                <div class="col-md-6" style="height:250px;background:#252525;text-align:center;color:#f6f6f6"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.</h3> </div>
                <div class="col-md-3" style="height:250px;overflow:hidden">
                    <img src="images/about/05.jpg" class="img-responsive" style="width:100%">
                </div>
                <div class="col-md-3" style="height:250px;overflow:hidden;padding:0">
                    <img src="images/about/10.jpg" class="img-responsive" style="width:100%">
                </div>
            </div>
            <div class="col-md-12" style="padding:0 0 15px 0">
                <div class="col-md-3" style="height:250px;overflow:hidden;padding:0">
                    <img src="images/about/05.jpg" class="img-responsive" style="width:100%">
                </div>
                <div class="col-md-3" style="height:250px;overflow:hidden">
                    <img src="images/about/10.jpg" class="img-responsive" style="width:100%">
                </div>
                <div class="col-md-6" style="height:250px;background:#f6f6f6;text-align:center;color:#656565;padding:0">
                    <h3>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur.
                    </h3> 
                </div>
                
                
            </div>
            <div class="col-md-12" style="padding:0 0 15px 0">
                <div class="col-md-3" style="height:250px;overflow:hidden;padding:0">
                    <img src="images/about/01.jpg" class="img-responsive" style="width:100%">
                </div>
                <div class="col-md-3" style="height:250px;text-align:center">
                    <div class="col-md-12" style="background:#656565;height:100%">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
                    </div>
                </div>
                <div class="col-md-3" style="height:250px;overflow:hidden;padding:0">
                    <img src="images/about/04.jpg" class="img-responsive" style="width:100%">
                </div>
                <div class="col-md-3" style="height:250px;overflow:hidden;padding:0">
                    <img src="images/about/05.jpg" class="img-responsive" style="width:100%">
                </div>
            </div>

</div>
    <div class="jumbotron col-md-12 col-sm-12 col-xs-12">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
    </div>
<div class="col-md-12 col-sm-12 col-xs-12" style="background:#fff">
    <div class="container-fluid">
            <div class="row">
            
                <div class="col-md-3 col-sm-6 text-center counter-border">
                    <div class="nc-simple">
                        <span class="counter-icon pe-7s-users"></span><br>
                        <span class="counter">52,147</span>
                        <h4 class="text-uppercase">Customers</h4>
                    </div>
                </div> 
                <!-- Counter Simple with Border - Item 2 -->
            
                <div class="col-md-3 col-sm-6 text-center counter-border">
                <div class="nc-simple">
                  <span class="counter-icon pe-7s-albums"></span><br>
                  <span class="counter">800</span><span class="counter-extend">+</span>
                  <h4 class="text-uppercase letter-spacing-2">Projects Done</h4>
                </div>
              </div>
              
              <!-- Counter Simple with Border - Item 3 -->
            
              <div class="col-md-3 col-sm-6 text-center counter-border">
                <div class="nc-simple">
                  <span class="counter-icon pe-7s-hourglass"></span><br>
                  <span class="counter">5000</span>
                  <h4 class="text-uppercase letter-spacing-2">Hours...!!!</h4>
                </div>
              </div>
              
              <!-- Counter Simple - Item 4 -->
            
              <div class="col-md-3 col-sm-6 text-center  mar-top-50-tablet">
                <div class="nc-simple ">
                  <span class="counter-icon pe-7s-diamond"></span><br>
                  <span class="counter">27</span>
                  <h4 class="text-uppercase letter-spacing-2">Awards Won</h4>
                </div>
              </div>
            </div>
          </div>
</div>
<div class="jumbotron col-md-12 col-sm-12 col-xs-12">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
    </div>