<div class="col-md-12 col-sm-12 col-xs-12"style="margin:0 0 250px 0;padding:0">
    <div class="col-md-12 col-sm-12 col-xs-12" style="height:250px;background-color:#252525;position:fixed;top:0;z-index:-1;margin:0">
        <div class="symbol symbol-theme">
            <span style="font-family:indian;font-size:6em">H</span>
            <hr class="light small mar-top-50 no-margin-bottom">
        </div>
    </div>
</div>
<div id="contact-container" class="text-centered">
    <div class="team-container col-md-6 col-sm-12 col-xs-12" style="height:100%;background-color:#f6f6f6;z-index:1;padding-bottom:3em">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <div class="page-header"><h1>Our Team</h1></div>

                <div class="symbol symbol-theme">
                    <i class="fa fa-users"></i>
                    <hr class="light small mar-top-50 no-margin-bottom">
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4>Shyamkrishnan Ravindran<br/><small>CULTURAL SECRETARY</small></h4>
                    <p style="margin:0">shyam@ragam.org.in</p>
                    <p>(+91) 9876543210</p>
                </div>

                <div class="section-header"><h3>Marketing</h3></div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <h4>Mathews K Tom</h4>
                        <p style="margin:0">shyam@ragam.org.in</p>
                        <p>(+91) 9876543210</p>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <h4>Tarun Tom</h4>
                        <p style="margin:0">shyam@ragam.org.in</p>
                        <p>(+91) 9876543210</p>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <h4>Isa Rahman</h4>
                        <p style="margin:0">shyam@ragam.org.in</p>
                        <p>(+91) 9876543210</p>
                    </div>
                </div>
                <div class="section-header"><h3>Public Relations</h3></div>
                <div class="col-md-12">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h4>Vishal Satheeshan</h4>
                        <p style="margin:0">shyam@ragam.org.in</p>
                        <p>(+91) 9876543210</p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h4>Vishal Satheeshan</h4>
                        <p style="margin:0">shyam@ragam.org.in</p>
                        <p>(+91) 9876543210</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mail-container col-md-6 col-sm-12 col-xs-12 text-center" style="height:100%;background-color:#fff;z-index:1">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="page-header"><h1>Drop Us a Line</h1></div>

                <div class="symbol symbol-theme">
                    <i class="fa fa-envelope-o"></i>
                    <hr class="light small mar-top-50 no-margin-bottom">
                </div>

                <form role="form" method="POST" action="#">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="input1">Name</label>
                            <input type="text" name="contact_name" class="form-control" id="input1">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="input2">Email Address</label>
                            <input type="email" name="contact_email" class="form-control" id="input2">
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="input4">Message</label>
                            <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="input3">Simple Spam Checker: 5 + 7 = </label>
                            <input type="text" name="contact_spam" class="form-control" id="input3">
                        </div>
                        <div class="form-group col-lg-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="height:50%;margin:0;padding:0;z-index:1;background:#f6f6f6">
    <div id="map" style="height:100%"></div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:290px;padding:0;">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="height:300px;background-color:#252525;position:fixed;bottom:0;">
        <img class="center-block img-responsive" src="images/ragam1.png" style="height:200px;padding-top:2em" />
        <p style="padding-top:1em;color:#ccc">CREATIVE AND INTELLECTUAL MINDS OF NITC</p>
        <p style="padding-top:0.1em;color:#ccc">&copy All Rights Reserved</p>
    </div>
</div>