<div id="perspective" class="perspective effect-rotateleft">
    <div class="page-container">
        <video autoplay id="bgvid" loop muted>
            <source src="video/countdown.m" type="video/mp4">
        </video>

        <div id="central-header" class="col-md-12 text-center">
            <h1 id="typewriter">Ragam 2016</h1>
            <a href="#/" class="btn button button--wayra button--border-thin button--text-upper button--size-s">Launch</a>
        </div>
    </div><!-- /container -->
    <nav class="outer-nav right vertical">
        <a href="#/about" class="btn button button--wayra button--border-thin button--text-upper button--size-s">About Us</a>
        <!--<a href="http://ragam.org.in" target="_blank" class="btn button button--wayra button--border-thin button--text-upper button--size-s">Ragam '15</a>
        <a href="#/previous_sponsors" class="btn button button--wayra button--border-thin button--text-upper button--size-s">Previous Sponsors</a>-->
        <a href="#/gallery" class="btn button button--wayra button--border-thin button--text-upper button--size-s">Gallery</a>
        <a href="#/contactus" class="btn button button--wayra button--border-thin button--text-upper button--size-s">Contact</a>
    </nav>
</div><!-- /perspective -->