<div id="st-container" class="st-container">
	<nav class="st-menu st-effect-4 text-center" id="menu-4">
		<ul>
			<li><a class="icon icon-wallet plain-icon" href="#/about">About Us</a></li>
			<li><a class="icon icon-wallet plain-icon" href="#/gallery">Gallery</a></li>
			<li><a class="icon icon-wallet plain-icon" href="#/previous_sponsors">Previous Sponsors</a></li>
			<li><a class="icon icon-wallet plain-icon" href="#/contactus">Contact Us</a></li>
		</ul>
	</nav>

	<div class="st-pusher">

		<div class="st-content"><!-- this is the wrapper for the content -->
			<div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
				<!-- Top Navigation -->
				<div class="main clearfix">
					<video autoplay id="bgvid" loop muted>
			            <source src="video/sample.mp4" type="video/mp4">
			            <source src="video/sample.webm" type="video/webm">
			            <source src="video/sample.mov" type="video/mov">
			        </video>
					<div id="st-trigger-effects" class="column">
						<div data-effect="st-effect-4">
							<div id="showMenu" class="menu-wrap">
				                <h1>menu</h1>
				                <div class="menu-icon" id="menu-icon">
				                    <span></span>
				                </div>
				            </div> 
	            		</div>
					</div>
		            <div class="icon-wrap">
		                <img src="images/ragam1.png" style="height:60%;">
		            </div> 
		            <div class="audio-wrap">
						<div id="bars" class="is-on">
						    <div class="bar-t"></div>
						    <div class="bar-t"></div>
						    <div class="bar-t"></div>
						</div>
				    </div>
		            <div class="social-icon-wrap">
		                <a href="http://facebook.com/Ragam.nitc" target="_blank"><i class="fa fa-facebook-official"></i></a>
		                <a href="http://twitter.com/ragamnitc" target="_blank"><i class="fa fa-twitter-square"></i></a>
		                <a href="http://instagram.com/ragam_nitc/" target="_blank"><i class="fa fa-instagram"></i></a>
		                <a href="http://youtube.com/user/RagamCulfest" target="_blank"><i class="fa fa-youtube-play"></i></a>
		            </div> 
					<div id="central-header" class="col-md-12 text-center">
			            <h1 id="typewriter" typewrite></h1>
			            <h3>April 1st, 2nd and 3rd, 2016</h3>
			            <a href="docs/Ragam16.pdf" target="_blank" class="btn button button--wayra button--border-thin button--text-upper button--size-s">Download Brochure</a>
			        </div>
				</div><!-- /main -->
			</div><!-- /st-content-inner -->
		</div><!-- /st-content -->
	</div><!-- /st-pusher -->
</div><!-- /st-c
