<div class="col-md-12 col-sm-12 col-xs-12"style="margin:0 0 250px 0;padding:0">
    <div class="col-md-12 col-sm-12 col-xs-12" style="height:250px;background-color:#252525;position:fixed;top:0;z-index:-1;margin:0">
        <div class="symbol symbol-theme">
            <span style="font-family:indian;font-size:6em">H</span>
            <hr class="light small mar-top-50 no-margin-bottom">
        </div>
    </div>
</div>
<div class="container text-center sponsor">
            <div class="col-md-12">
                <div class="row">
                    <div class="page-header"><h1>Previous Sponsors</h1></div>
                </div>
            </div>
            <div id="grid-gallery" class="grid-gallery col-md-12">
                <section class="grid-wrap">
                    <ul class="grid">
                        <li class="col-md-3">
                            <figure>
                                <img src="images/thumb/4.png" alt="img04"/>
                                <figcaption><h4>Chillwave nihil occupy</h4></figcaption>
                            </figure>
                        </li>
                        <li class="col-md-3">
                            <figure>
                                <img src="images/thumb/5.png" alt="img05"/>
                                <figcaption><h4>Kale chips lomo biodiesel</h4></figcaption>
                            </figure>
                        </li>
                        <li class="col-md-3">
                            <figure>
                                <img src="images/thumb/6.png" alt="img06"/>
                                <figcaption><h4>Exercitation occaecat</h4></figcaption>
                            </figure>
                        </li>
                        <li class="col-md-3">
                            <figure>
                                <img src="images/thumb/4.png" alt="img04"/>
                                <figcaption><h4>Chillwave nihil occupy</h4></figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="images/thumb/5.png" alt="img05"/>
                                <figcaption><h4>Kale chips lomo biodiesel</h4></figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="images/thumb/6.png" alt="img06"/>
                                <figcaption><h4>Exercitation occaecat</h4></figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="images/thumb/2.png" alt="img02"/>
                                <figcaption><h4>Photo booth skateboard</h4></figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="images/thumb/4.png" alt="img04"/>
                                <figcaption><h4>Thundercats next level</h4></figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="images/thumb/2.png" alt="img02"/>
                                <figcaption><h4>Vice velit chia</h4></figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="images/thumb/4.png" alt="img04"/>
                                <figcaption><h4>Chillwave nihil occupy</h4></figcaption>
                            </figure>
                        </li>
                    </ul>
                </section><!-- // grid-wrap -->
            </div><!-- // grid-gallery -->
        </div>