<div class="col-md-12 col-sm-12 col-xs-12" style="margin:0 0 250px 0;padding:0">
    <div class="col-md-12 col-sm-12 col-xs-12" style="height:250px;background-color:#252525;position:fixed;top:0;z-index:-1;margin:0">
        <div class="symbol symbol-theme">
            <span style="font-family:indian;font-size:6em">H</span>
            <hr class="light small mar-top-50 no-margin-bottom">
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12" id="sponsor-container">
    <div class="container">
        <div class="page-headline"><h2>Previous Sponsors</h2></div>

        <div class="col-md-12">
            <div class="col-md-3 sponsor-item">
                <img class="img-responsive sponsor-image" src="images/thumb/2.png" style="z-index:1">
                <div class="sponsor-content" >Harry</div>
            </div>

            <div class="col-md-3 sponsor-item">
                <img class="img-responsive sponsor-image" src="images/thumb/2.png" style="z-index:1">
                <div class="sponsor-content" >Harry</div>
            </div>

            <div class="col-md-3 sponsor-item">
                <img class="img-responsive sponsor-image" src="images/thumb/2.png" style="z-index:1">
                <div class="sponsor-content" >Harry</div>
            </div>

            <div class="col-md-3 sponsor-item">
                <img class="img-responsive sponsor-image" src="images/thumb/2.png" style="z-index:1">
                <div class="sponsor-content" >Harry</div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 sponsor-item">
                <img class="img-responsive sponsor-image" src="images/thumb/2.png" style="z-index:1">
                <div class="sponsor-content" >Harry</div>
            </div>

            <div class="col-md-3 sponsor-item">
                <img class="img-responsive sponsor-image" src="images/thumb/2.png" style="z-index:1">
                <div class="sponsor-content" >Harry</div>
            </div>

            <div class="col-md-3 sponsor-item">
                <img class="img-responsive sponsor-image" src="images/thumb/2.png" style="z-index:1">
                <div class="sponsor-content" >Harry</div>
            </div>

            <div class="col-md-3 sponsor-item">
                <img class="img-responsive sponsor-image" src="images/thumb/2.png" style="z-index:1">
                <div class="sponsor-content" >Harry</div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3 sponsor-item">
                <img class="img-responsive sponsor-image" src="images/thumb/2.png" style="z-index:1">
                <div class="sponsor-content" >Harry</div>
            </div>

            <div class="col-md-3 sponsor-item">
                <img class="img-responsive sponsor-image" src="images/thumb/2.png" style="z-index:1">
                <div class="sponsor-content" >Harry</div>
            </div>

            <div class="col-md-3 sponsor-item">
                <img class="img-responsive sponsor-image" src="images/thumb/2.png" style="z-index:1">
                <div class="sponsor-content" >Harry</div>
            </div>

            <div class="col-md-3 sponsor-item">
                <img class="img-responsive sponsor-image" src="images/thumb/2.png" style="z-index:1">
                <div class="sponsor-content" >Harry</div>
            </div>
        </div>
    </div>
</div>