<div id="perspective" class="perspective effect-rotateleft">
    <div class="page-container">
        <video autoplay id="bgvid" loop muted>
            <source src="video/sample.mp4" type="video/mp4">
        </video>

        <div class="wrapper">
            <div id="showMenu" class="menu-wrap" style="right:50px">
                <h1>menu</h1>
                <div class="menu-icon" id="menu-icon">
                    <span></span>
                </div>
            </div>  
        </div>

        <div class="wrapper">
            <div class="icon-wrap" >
                <img src="images/ragam1.png" style="height:60%;">
            </div>  
        </div>



        <div id="central-header" class="col-md-12 text-center">
            <h1 id="typewriter" typewrite></h1>
            <h3>April 1st, 2nd and 3rd, 2016</h3>
            <a class="btn button button--wayra button--border-thin button--text-upper button--size-s">Download Brochure</a>
        </div>
    </div><!-- /container -->
    <nav class="outer-nav right vertical">
        <a href="#/about" class="btn button button--wayra button--border-thin button--text-upper button--size-s">About Us</a>
        <!--<a href="http://ragam.org.in" target="_blank" class="btn button button--wayra button--border-thin button--text-upper button--size-s">Ragam '15</a>
        <a href="#/previous_sponsors" class="btn button button--wayra button--border-thin button--text-upper button--size-s">Previous Sponsors</a>-->
        <a href="#/gallery" class="btn button button--wayra button--border-thin button--text-upper button--size-s">Gallery</a>
        <a href="#/contactus" class="btn button button--wayra button--border-thin button--text-upper button--size-s">Contact</a>
    </nav>
</div><!-- /perspective -->